@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Please Order Some Pizzas</h1>
    <p> About <a href="Pizza"></a>.</p>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Joe's Pizza  </h1>
    <p>It's a sample Web Application for Joe's Pizza for submit the Feedback.</p>
</body>
</html>